<!-- interpollation -->
<p>
    hi this is the example of interpollation {{render}}
</p>

<!--rendering the method-->

<p>
    {{greetuser()}}
</p>
 
<p>
    {{siteurl}}
</p>

<!--property binding-->

<input [id]="myid" value="lol"type="text">
<input [disabled]="isDisabled" type="text" value="lol">
<input bind-disabled="isDisabled" type="text" value="lol">

<<!--class binding property-->
<h2 [class]="change">
hello this is loga in green using class binding property
</h2>

<!--conditional class bindind getting renderd from the link.component.css-->
<h2 [class.loga-danger]="hasError">hello this is conditional class binding </h2>

<!--conditional style binding-->
<h2 [style.color]=" hasError? 'red':'green'"></h2>

<!--event binding-->
<button (click)="onclick()">Greet the user</button>
<button (click)="greetingusers='welcome home '">Greet the user</button>
{{greetingusers}}

<!--template reference variable-->
<input #myInput type="text">
<button (click)="logMessage(myInput.value)">log</button>

<!--ngif and else-->

<!-- <div *ngIf="false">display content
<div *ngIf="''">dont display content</div> 
</div> -->

<!--swtich case-->
<div [ngSwitch]="color">
    <div *ngSwitchCase= true>hi</div>
    <div *ngSwitchCase= false>bye</div>
</div>

<div [ngSwitch]="notboolean">
    <div *ngSwitchCase= "'loga'">boy</div>
    <div *ngSwitchCase= "'priya'">girl</div>
    <div *ngSwitchDefault>pick again</div>
</div>


<!--ngfor-->

<div *ngFor="let name of names">
    <h5>{{name}}</h5>
</div>

<!--parent data interaction-->
<!-- 
<h4>{{"hellow"+parentData}}</h4> -->

<!--pipes-->
<h2>{{date}}</h2>
<h2>{{date | date}}</h2>
<h2>{{date | date : 'short'}}</h2>
<h2>{{date | date : 'shortDate'}}</h2>
<h2>{{date | date : 'shortTime'}}</h2>


<!--try-->
<form action="" #input="ngForm">
    <input type="text" placeholder="name" name="name" ngModel>
    <input type="text" placeholder="feedback" name="feedback" ngModel>
    <button (click)="logmessage(input.value)">log</button>
</form>
