<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!--this page wont work because the inline template is activated in the component.ts file in order to 
make this work change the template to templateUrl: './home.component.html', and same for the style too-->
    
    <div class="container">
        <h1>
            
            {{title}} entry job Form
        </h1>
        <div class="space"></div>
        <!--forms filling-->
        <form action="" method="get">
            <div class="row">
                <div class="col">
                    <label for="name">Name:</label>
                    <input type="text" placeholder="" [disabled]="isDisabled">
                </div>
                <div class="col">
                    <label for="address">Address:</label>
                    <input type="text" [(ngModel)] = "title">
                    <h2>{{title}}</h2>
                </div>
            </div>
            <div class="space"></div>
            <div class="row">   
                <div class="col">
                    <label for="phonenumber">phone:</label>
                    <input type="number" placeholder="970987689">
                </div>

                <div class="col">
                    <label for="pincode">Pincode:</label>
                    <input type="number" placeholder="660-898">
                </div>
            </div> 
            <div class="space"></div>
            <!-- event binding -->
            <div class="row">
                <div class="col">
                    <button (click)="onclick()">submit</button>
                </div>
            </div>
        </form>
        <!-- check program -->
        
    </div>

    
</body>
</html>